# sample configuration file
#
$botJID = "simo@jabber.org/Bot"
$password = "supersecret"

$botName="InternBOT"
$roomJID = "interns@conference.jabber.org/" + $botName

$PLUGINS = ['hackme', 'help', 'retort', 'rot13', 'weather']

# vim: ft=ruby
